html{
    background-color: rgb(112, 103, 133);
    text-align: justify;
}
h1{
    text-align: center;
    color: black;
}
body{
    background-color: rgb(99, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px auto;
    width: 1000px;
    height: 2000px;
    padding-top: 10px;
}
