html{
    background-color: rgb(73, 32, 168);
    text-align: justify;
}
h1{
    text-align: center;
    color: black;
}
body{
    background-color: rgb(99, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 1000px;
    height: 2000px;
    padding: 0 auto;
}